<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	https://www.springframework.org/schema/beans/spring-beans.xsd
 	http://www.springframework.org/schema/context
 	https://www.springframework.org/schema/beans/spring-context.xsd">

	<bean class="com.tushar.springcore.lifecycle.Apple" name="apple"
		init-method="init" destroy-method="destroy">
		<property name="price" value="150" />
	</bean>
	
	<bean class="com.tushar.springcore.lifecycle.IceCream" name="ic">
		<property name="price" value="250" />
	</bean>

</beans>